* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.book-description {
    margin: 34px 10px 0 0;
    border: 1px solid #ccc;
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.3);;
}

.detail-text {
    text-align: left;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}

.book-detail {
    display: flex;
    gap: 26px;
}

.book-detail > img {
    width: 155px;
    height: 220px;
    margin-top: 5px;
}

.detail-item {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-borrow-detail {
    width: 100%;
    outline: none;
    background-color: #a7ccee;
    padding: 5px 15px;
    margin: 8px auto 0;
    border: 1px solid #a7ccee;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-borrow-detail:hover {
    transform: scale(1.05);
}

.book-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cột bằng nhau */
    gap: 12px 24px; /* khoảng cách giữa các dòng và cột */
}

.book-info-grid div {
    font-size: 16px;
    line-height: 1.5;
}

.book-info-grid strong {
    font-size: 20px;
}

.book-info-grid .summary {
    grid-column: 1 / -1; /* Tóm tắt chiếm full 2 cột */
}

.book-description .book-status {
    max-width: 300px;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 8px;
    display: inline-block;
}

.book-description .book-status.available {
    background-color: #e0f7e9;
    color: #2e7d32;
    border: 1px solid #2e7d32;
}

.book-description .book-status.unavailable {
    background-color: #ffebee;
    color: #c62828;
    border: 1px solid #c62828;
}