* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.search-container {
    display: flex;
    gap: 55px;
}

.main-content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.btn-borrow-2 {
    width: 90%;
    outline: none;
    background-color: #a7ccee;
    padding: 5px 15px;
    margin: 8px auto 0;
    border: 1px solid #a7ccee;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-borrow-2:hover {
    transform: scale(1.1);
}

.sidebar {
    text-align: left;
    padding: 20px 35px;
    gap: 8px;
}

.topic-checkbox {
    display: flex;
    gap: 10px;
}